.venv/
.env

# python things
create_inits.py
__pycache__/
*.pyc
*.pyo

# big files
src/data/processed/*
src/data/raw/*
App Demo Original.mkv
Fraud Chatbot Demo.mp4

# unused files
src/scripts/inputs/prompts_legacy.py